<div class="header-background">
  <div class="content-header">
    <div>
      <img src="../assets/imagens/logo-organize.svg" alt="" class="logo-organize">
    </div>
    <div>
      <img src="../assets/imagens/money-safe.svg" alt="" class="img-header-right">
      <img src="../assets/imagens/img-person-login.svg" alt="" class="img-header-right">
      <img routerLink="/login" src="../assets/imagens/log-out.svg" alt="" class="img-header-right" id="img-logout">
      <div class="popup" id="popup">Sair</div>
    </div>
  </div>
</div>
