<img class="background-image" src="../assets/imagens/img-login-body.svg" alt="Imagem de fundo">
<div class="content">
<div class="description-container">
<span>O SITE QUE VOCÊ<br> PRECISA PARA <br> ORGANIZAR SUAS<br>CONTAS</span>
</div>
<div class="login-container">
  <div class="title">
    <span class="entrar">Entrar</span>
    <a routerLink="/cadastro" class="crie-sua-conta">Crie sua conta</a>
  </div>
  <div class="body-login">
  <div class="content-input">
    <p class="email">Endereço de email</p>
    <input placeholder="contatoemail@hotmail.com" [(ngModel)]="email" type="email">
    <p class="senha">Senha</p>
    <input type="password"  [(ngModel)]="password" >
  </div>
  <div class="content-esqueci-senha">
    <a routerLink="/esqueci-senha" class="esqueci-senha">Esqueci minha senha</a>
  </div>
</div>
  <div class="content-button-continuar">
    <button class="button-continuar" (click) = "onContinueClick()">Continuar</button>
  </div>
</div>
</div>

<!-- <div *ngIf="!userIsLoggedIn" class="modal-validacao-cadastro-rep-legal">
  <div *ngIf="!userIsLoggedIn" class="modal-background-dark"></div>
  <div *ngIf="!userIsLoggedIn" class="modal modal-overlay" id="modalConfirmacao">
    <div class="modal-content">
      <img class="icone-alerta" src="../../../../../assets/images/icon_atencao.svg" alt="Ícone de alerta">
      <h2 class="title-modal">REPRESENTANTE LEGAL</h2>
      <div>
      <p class="aviso-modal">Para efetuar o cadastro do <b>Representante legal</b> você deverá fazer login com seu CPF e SENHA. se você não possui cadastro, acesse<a (click)= "redirecionarCadastar()" class="link-primeiro-acesso" > meu primeiro acesso</a>
        ou caso tenha esquecido a senha, acesse <a (click) ="redirecionarSenha()" class="link-esqueci-senha">esqueci minha senha </a> para continuar o processo</p>
      </div>
      <button (click)="closeModal()" class="close-modal">
      </button>
    </div>
  </div>
</div> -->

