<img class="background-image" src="../assets/imagens/img-login-body.svg" alt="Imagem de fundo">
<div class="content">
<div class="description-container">
<span>O SITE QUE VOCÊ<br> PRECISA PARA <br> ORGANIZAR SUAS<br>CONTAS</span>
</div>
<div class="login-container">
  <div class="title">
    <span class="entrar">Entrar</span>
    <a routerLink="/cadastro" class="crie-sua-conta">Crie sua conta</a>
  </div>
  <div class="body-login">
  <div class="content-input">
    <p class="email">Endereço de email</p>
    <input placeholder="contatoemail@hotmail.com" [(ngModel)]="email" type="email">
    <p class="senha">Senha</p>
    <input type="password"  [(ngModel)]="password" >
  </div>
  <div class="content-esqueci-senha">
    <a routerLink="/esqueci-senha" class="esqueci-senha">Esqueci minha senha</a>
  </div>
</div>
  <div class="content-button-continuar">
    <button class="button-continuar" (click) = "onContinueClick()">Continuar</button>
  </div>
</div>
</div>



