<img class="background-image" src="../assets/imagens/img-login-body.svg" alt="Imagem de fundo">
<div class="content">
<div class="description-container">
<span>O SITE QUE VOCÊ<br> PRECISA PARA <br> ORGANIZAR SUAS<br>CONTAS</span>
</div>
<div class="login-container">
  <div class="title">
    <span class="entrar">Entrar</span>
    <a routerLink="/cadastro" class="crie-sua-conta">Crie sua conta</a>
  </div>
  <div class="body-login">
  <div class="content-input">
    <p class="email">Endereço de email</p>
    <input placeholder="contatoemail@hotmail.com" [(ngModel)]="email" type="email">
    <p class="senha">Senha</p>
    <input type="password"  [(ngModel)]="password" >
  </div>
  <div class="content-esqueci-senha">
    <a routerLink="/esqueci-senha" class="esqueci-senha">Esqueci minha senha</a>
  </div>
</div>
  <div class="content-button-continuar">
    <button class="button-continuar" (click)="onContinueClick()">continuar</button>
  </div>
</div>
</div>

<div class="modal-background-dark" *ngIf="showModal">
  <div class="modal-validacao-cadastro-rep-legal">
    <h1>Email ou senha incorretos!</h1>
    <p>Para acessar os serviços do <b>Organize</b> você precisa possuir EMAIL e SENHA válidos, se você possui cadastro e deseja redefinir sua senha acesse <a routerLink="/esqueci-senha">esqueci minha senha</a> se você não possui cadastro e deseja se cadastrar acesse <a routerLink="/cadastro">cadastrar-se</a>.</p>
    <button (click)="closeModal()" class="close-modal">Fechar</button>
  </div>
</div>


