<div *ngIf="mostrarComponente">  <!--(click)="toggleComponentVisibility()"-->>
  <div *ngIf="mostrarComponente">  <!--(click)="toggleComponentVisibility()"-->>
    <div>
    <div class="static-position">
      <div class="content-mercado-contas-gerais">



<input class="input-result">
<div class="column-buttons">
<button class="maior-button"></button>
<button></button>
<button>(</button>
<button>)</button>
<button>%</button>
<button>AC</button>
</div>


<div class="column-buttons">
<button>Inv</button>
<button>Sin</button>
<button></button>
<button>7</button>
<button>8</button>
<button>9</button>
<button>/</button>
</div>

<div class="column-buttons">
<button>R</button>
<button>Cos</button>
<button></button>
<button>4</button>
<button>5</button>
<button>6</button>
<button>X</button>
</div>

<div class="column-buttons">
<button>e</button>
<button>tan</button>
<button></button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>-</button>
</div>

<div class="column-buttons">
<button>Ans</button>
<button>EXP</button>
<button></button>
<button>0</button>
<button>.</button>
<button>=</button>
<button>+</button>
</div>
</div>





    </div>
    </div>

