<body>
<main class="header">
  <div>
<img src="../assets/imagens/logo-organize.svg" alt="" class="logo-organize">
  </div>
  <div class="container-buttons">
      <button routerLink="/cadastro">Cadastrar-se</button>
      <button routerLink="/login">Entrar</button>
  </div>
</main>

<div class="container">
  <div class="container-description-img">
      <img src="../assets/imagens/img-card.png" alt="" class="img-card">
        <p class="description-title">O SITE QUE VOCÊ<br>PRECISA PARA<br>ORGANIZAR SUAS<br>CONTAS</p>
  </div>
    <div class="list-img">
      <div class="container-img-accounts">
        <img class="img-print" src="../assets/imagens/img-print.svg" alt="">
      </div>
      <div class="list-organize">
        <h1 class="title-list">Sua contas em ordem</h1>
        <h2 class="subtitle-list">Organize por setores</h2>
        <li><img src="../assets/imagens/li-style.svg" alt="" class="li-style">Compras do supermercado</li>
        <li><img src="../assets/imagens/li-style.svg" alt="" class="li-style">Lazer com a família</li>
        <li><img src="../assets/imagens/li-style.svg" alt="" class="li-style">Streamings</li>
        <li><img src="../assets/imagens/li-style.svg" alt="" class="li-style">Contas de casa</li>
        <li><img src="../assets/imagens/li-style.svg" alt="" class="li-style">Cartões</li>
        <li><img src="../assets/imagens/li-style.svg" alt="" class="li-style">Férias em família</li>
        <li><img src="../assets/imagens/li-style.svg" alt="" class="li-style">Contas comerciais</li>
        <h2 class="subtitle-list baseboard-list">Escolha os nomes dos setores como desejar </h2>
      </div>
    </div>
    <div class="description-static">
      <h1 class="title-list">Esteja sempre em ordem com o Organize</h1>
    </div>

    <div class="container-benefits">
      <div class="descr-img-benefits">
        <img src="../assets/imagens/practicality.svg" alt="" class="img-benefits"><span class="description-benefits">Praticidade</span>
      </div>
      <div class="descr-img-benefits">
        <img src="../assets/imagens/ease.svg" alt="" class="img-benefits"><span class="description-benefits">Facilidade</span>
      </div>
      <div class="descr-img-benefits">
        <img src="../assets/imagens/guarantee.svg" alt="" class="img-benefits"><span class="description-benefits">Garantia</span>
      </div>
      <div class="descr-img-benefits">
        <img src="../assets/imagens/security.svg" alt="" class="img-benefits"><span class="description-benefits">Segurança</span>
      </div>
    </div>


    <div class="baseboard">
      <div>
        <img src="../assets/imagens/logo-organize-white.svg" alt="" class="img-baseboard">
      </div>
      <div class="acess-organize">
        <p><a routerLink="/login">Entrar</a></p>
        <p><a routerLink="/cadastro">Cadastrar-se</a></p>
        <div class="contact-organize">
          <p>organize@gmail.com</p>
          <p>(11)93090-7754</p>
        </div>
      </div>
    </div>
    <div class="baseboard-rights">
      <p class="rights">Organize @ Direitos reservados</p>
    </div>
    <div class="static-baseboard-finish"></div>
</div>
</body>
