
<div class="baseboard">
  <div class="block-img-logo">
    <img src="../assets/imagens/logo-organize-white.svg" alt="" class="img-baseboard">
  </div>
  <div class="acess-organize">
    <p><a routerLink="/login">Entrar</a></p>
    <p><a routerLink="/cadastro">Cadastrar-se</a></p>
    <div class="contact-organize">
      <p>organize&#64;gmail.com.br</p>
      <p>(11) 99381-8546</p>
    </div>
  </div>
</div>
<div class="baseboard-rights">
  <p class="rights">Organize &#64; Direitos reservados</p>
</div>
<div class="static-baseboard-finish"></div>


