.baseboard{
  background-color: #000000;
  display: flex;
  justify-content: space-around;
}

.baseboard-list{
  margin-top: 35px;
}

.img-baseboard{
  margin-top: 50px;
  }

.acess-organize{
  color: #fff;
  font-size: 24px;
  margin-top: 50px;

  }
.contact-organize{
  color: #b2b2b2b2;
  font-size: 24px;
  margin-top: 50px;
  margin-right: 120px;
  }

.baseboard-rights{
  color: #fff;
  background-color: #000000;
  }
.rights{
  margin: 0px;
  margin-left: 50px;
  font-size: 18px;
  }
.static-baseboard-finish{
  height: 100px;
  width: 100%;
  background-color: #000000;
  }

  .block-img-logo{
    margin-left: -19%;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
