.title-value{
  display: flex;
  justify-content: space-between;
}
.list{
  display: flex;
  flex-direction: column;
  background-color: #EDEDED;
}
.option-list{
  padding: 5px;
  font-size: 18px;
}
.content-mercado-contas-gerais{
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  gap: 60px;
  margin-right: 95px;
  margin-left: 95px;
  width: 100%;
}
.content-mercado{
  max-width: 560px;
  width: 100%;
}
.content-contas-gerais{
  max-width: 560px;
  width: 100%;
}
.img-title{
  display: flex;
}
.edit-img{
  margin-right: 5px;
}
.static-position{
  position: absolute;
  top: 54%;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
}

