.header{
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .logo-organize{
      width: 299.17px;
      Height: 116.01px;
        }
        button{
          Width: 211px;
          Height: 51px;
          background-color: #000;
          color: #fff;
          margin: 2px;
          border-radius: 5px;
          cursor: pointer;
        }
    }
    .container-buttons{
      display: flex;
      margin-top: 30px;
    }
    .container{
      background-color: #121212;
      margin-top: 8%;

      .container-description-img{
        display: flex;

        .img-card{
          Width: 1093px;
          Height: 600px;
          display: flex;
          margin-left: 35%;
          margin-top: -6%;
        }
        .description-title{
          font-size: 64px;
          color: #fff;
          position: absolute;
          z-index: 1000;
          margin-left: 415px;
          font-weight: bold;
        }
      }
      .list-img{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container-img-accounts{
          margin-top: 100px;
          margin-right: 100px;

          .img-print{
            Width: 640px;
            Height: 767px;
          }
        }
        .list-organize{
          color: #fff;
          margin-top: 100px;

          .title-list{
            font-size: 62px;
            color: #fff;
          }
          .subtitle-list{
            font-size: 24px;
          }
          li{
            list-style: none;
            margin: 10px;
            font-size: 18px;
          }
          .li-style{
            margin-right: 10px;
          }
        }
      }
      .container-benefits{
        color: #fff;
        display: flex;
        justify-content: space-around;
        margin-left: 150px;
        margin-bottom: 100px;
        margin-top: 40px;

        .descr-img-benefits{
          display: flex;

          .img-benefits{
            width: 40px;
            height: 40px;
            margin-left: 20px;
            margin-right: 20px;

          }
          .description-benefits{
            font-size: 32px;

          }
        }
      }
    }

@media(max-width: 500px){
  .logo-organize{
    width: 125px !important;
    height: auto !important;
  }
  button{
    width: 95px !important;
    height: 30px !important;
  }
  .container-buttons{
    margin-top: 0px !important;
  }
  .header{
    align-items: center !important;
  }
  .img-card{
    width: auto !important;
    height: auto !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 300px !important;
  }
  .container-description-img{
    width: 100% !important;
    justify-content: center !important;
  }
  .description-title{
    font-size: 22px !important;
    margin-left: 10px !important;
  }
  .container{
    margin: 5px !important;
  }
.list-img{
  flex-direction: column !important;
  margin-top: 20px !important;
}
.img-print{
  width: 300px !important;
  height: auto !important;
}
.container-img-accounts{
  margin-top: 0px !important;
  margin-right: 0px !important;
}
.title-list{
  font-size: 30px !important;
}
.list-organize{
  margin-top: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle-list{
  font-size: 17px !important;
}
.container-benefits{
  flex-direction: column;
  margin-left: 0px !important;
}
.descr-img-benefits{
  margin-bottom: 20px !important;
}
}
