body{
  margin: 0 !important;
}
.logo-organize{
  width: 299.17px;
  Height: 116.01px;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
button{
  Width: 211px;
  Height: 51px;
  background-color: #000;
  color: #fff;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.container-buttons{
  display: flex;
  margin-top: 30px;
}
.description-title{
  font-size: 64px;
  color: #fff;
  position: absolute;
  z-index: 1000;
  margin-left: 415px;
  font-weight: bold;
}
.img-card{
  Width: 1093px;
  Height: 600px;
  display: flex;
  margin-left: 35%;
  margin-top: -6%;
}
.container-description-title{
  width: 100%;
}
.container{
  background-color: #121212;
  margin-top: 8%;
}
.container-description-img{
  display: flex;
}
.container-img-accounts{
  margin-top: 100px;
  margin-right: 100px;

}
.img-print{
  Width: 640px;
  Height: 767px;
}
.list-organize{
  color: #fff;
  margin-top: 100px;
}
.list-img{
  display: flex;
  justify-content: center;
}
.title-list{
  font-size: 62px;
  color: #fff;
}
.subtitle-list{
  font-size: 24px;
}
li{
  list-style: none;
  margin: 10px;
  font-size: 18px;
}
.li-style{
  margin-right: 10px;
}
.description-static{
  margin-left: 280px;
}
.container-benefits{
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-bottom: 100px;
}
.img-benefits{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;

}
.description-benefits{
  font-size: 32px;

}
.descr-img-benefits{
  display: flex;
}

a{
  color: #fff;
  text-decoration: none;
}

/*for desktop */
@media(min-width: 992px){

}

/*for tablet */
@media(min-width: 768px) and (max-width: 991px){

}

/*for mobile */
@media(max-width: 500px){
.container{
width: 119vh !important;
height: 238vh;
margin-top: 17%;
}

.img-card{
  width: 75vh;
  height: 34vh;
  margin-left: 18%;
}

.description-title{
  font-size: 21px;
  margin-left: 80px;
}
.img-print{
  width:58vh;
}
.list-img{
  max-width: 100%;
  margin-right: 128px;
}
.container-img-accounts{
  margin-top: 0px;
  margin-right: 0px;
}
.list-organize{
  margin-top: 100px;
  margin-left: 16px;
}
.title-list{
  font-size: 30px;
}
.subtitle-list{
  font-size: 12px;
}
li{
  font-size: 16px;
}
.description-static{
  margin-left: 153px;
}
.container-benefits{
  display: flex;
  justify-content: space-around;
  margin-left: -128px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}
.img-benefits{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
}


