<img class="background-image" src="../assets/imagens/img-cadastro-body.svg" alt="Imagem de fundo">
<div class="content">
<div class="description-container">
<span>O SITE QUE VOCÊ<br> PRECISA PARA <br> ORGANIZAR SUAS<br>CONTAS</span>
</div>
<div class="cadastro-container">
  <div class="title">
    <span class="cadastrar-se">Cadastrar-se</span>
    <a routerLink="/login" class="entrar">Entrar</a>
  </div>
  <div class="body-cadastro">
  <div class="content-input">
    <p class="nome">Seu nome</p>
    <input type="name">
    <p class="email">Endereço de email</p>
    <input placeholder="contatoemail@hotmail.com" type="email">
    <p class="senha">Senha</p>
    <input type="password">

    <!-- Implementar método para verificação de digitos de caracteres na senha -->
    <div>
      <p>8 caracteres (alfanúmerico ou alfabético);</p>
      <p class="span-red">1 caractere especial (@,#,&,%)</p>
      <p class="span-green">1 letra maiúscula;</p>
      <p>1 letra minúscula.</p>
    </div>
  </div>
</div>
  <div class="content-button-continuar">
    <button class="button-continuar" >Continuar</button>
  </div>
</div>
</div>




