img{
  background-color: #000;
}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* A imagem se ajustará automaticamente ao tamanho do elemento */
}

.description-container{
  Width: 640px;
  Height:292px;
  margin: 0 auto;
  position: relative; /* Para que o formulário não se mova com o conteúdo acima */
  z-index: 1; /* Coloca o contêiner do formulário à frente da imagem de fundo */
  color: #fff;
  font-size: 62px;
  font-weight: 700;
}

.esqueci-senha-container {
  background-color: #fff;
  Width: 640px;
  Height:701px;
  margin: 0 auto; /* Centralize o contêiner horizontalmente */
  border-radius: 10px; /* Adicione cantos arredondados se desejar */
  position: relative; /* Para que o formulário não se mova com o conteúdo acima */
  z-index: 1; /* Coloca o contêiner do formulário à frente da imagem de fundo */
}

.content{
  display: flex;
  align-items: center;
  margin-top: 140px;
}
.esqueci-senha{
font-size: 36px;
margin-left: 50px;
margin-top: 25px;
font-weight: bold;
}
.redefinir-senha{
  font-size: 24px;
}
.title{
  display: flex;
  justify-content: space-between;
}
.content-input{
margin-left: 50px;
margin-top: 7rem;
}
input{
  width: 486px;
  height: 34px;
  border-radius: 5px;
  border: none;
  background-color: #EDEDED !important;
}
.body-esqueci-senha{
  margin-top: 50px;
}
.content-button-voltar{
  display: flex;
  justify-content: center;
  margin-top: 16rem;
  justify-content: space-around;
  margin-top: 12rem;
}
.button-voltar{
  width: 172px;
  height: 55px;
  background-color: #121212;
  color: #fff;
  font-size: 32px;
  border-radius: 5px;
  cursor: pointer;
}
.input-redefinir-senha{
  Width: 73px;
  Height: 80px;
  margin-right: 40px;
  background-color: #EDEDED;
  font-size: 60px;
}
.container-input-redefinir-senha{
  display: flex;
}
.mensagem{
  font-size: 16px;
  color: #404040;
}
.reenviar-codigo{
  font-size: 24px;
  color: #121212;
  font-weight: bold;
  display: flex;
  align-items: center;
}
