<div *ngIf="mostrarComponente">  <!--(click)="toggleComponentVisibility()"-->>
  <div>
  <div class="static-position">
  <div class="content-mercado-contas-gerais">
    <div class="content-mercado">
    <div class="title-value">
      <div class="img-title">
        <img src="../assets/imagens/carrinho-compras.svg" alt="" class="edit-img">
        <h1>Mercado</h1>
      </div>
      <div>
        <h2>R$ 684,80</h2>
      </div>
    </div>
    <div class="list">
      <span class="option-list">Tomate</span>
      <span class="option-list">Linguiça</span>
      <span class="option-list">Alface</span>
      <span class="option-list">Picanha</span>
      <span class="option-list">Desinfetante</span>
      <span class="option-list">Arroz</span>
      <span class="option-list">Feijão</span>
      <span class="option-list">Azeite</span>
      <span class="option-list">Limão</span>
      <span class="option-list">Vinagre</span>
      <span class="option-list">Laranja</span>
      <span class="option-list">Nescau</span>
    </div>
    </div>
    <div class="content-contas-gerais">
    <div class="title-value">
      <div class="img-title">
        <img src="../assets/imagens/contas-gerais.svg" alt="" class="edit-img">
        <h1>Contas Gerais</h1>
      </div>
      <div>
        <h2>R$ 737,33</h2>
      </div>
    </div>
    <div class="list">
      <span class="option-list">Conta de aguá</span>
      <span class="option-list">Conta de energia</span>
      <span class="option-list">Conta de internet</span>
      <span class="option-list">IPTU</span>
      <span class="option-list">Aluguel</span>
      <span class="option-list">Despesas do carro</span>
      <span class="option-list">Mensalidade da faculdade (Maria)</span>
      <span class="option-list">Mensalidade da faculdade (Carlos)</span>
      <span class="option-list">Material escolar (Sandra)</span>
      <span class="option-list">Seguro do carro</span>
      <span class="option-list">Gasolina</span>
      <span class="option-list">Curso de Espanhol (Matheus)</span>
    </div>
  </div>
  </div>
  </div>
  </div>

