 <app-header></app-header>
<div class="body-content">
  <div class="msg-welcome">
    <h1>Olá, Fulano</h1>
    <h2>Seja bem vindo de volta!</h2>
  </div>
  <div class="content-img">
    <img src="../assets/imagens/img-logado.svg" alt="" class="img-logado">
  </div>

  <div class="option-organize">

    <div class="block-description" [class.link-clicado]="organizarMinhasContasComponent.mostrarComponente">
      <a (click)="organizarMinhasContasComponent.toggleComponentVisibility()"
         class="details-span">
        Organizar minhas contas
      </a>
    </div>


    <div class="block-description">
      <span class="details-span">Contas e valores</span>
    </div>

    <div class="block-description">
      <span class="details-span">Adição de novas contas</span>
    </div>


    <div class="block-description">
      <span class="details-span">Calculadora virtual</span>
    </div>

    <!-- <router-outlet></router-outlet> -->

  </div>
</div>
<!-- <app-footer></app-footer> -->
<app-organizar-minhas-contas #organizarMinhasContasComponent></app-organizar-minhas-contas>
